 /* border-box hack */

html {
    box-sizing: border-box;
}
*, *:before, *after {
    box-sizing: inherit;
}

/* chef aquino's special sauce */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(156,39,176,0.2), white); 
    /* */
}

.button-container {
    display: flex;
    justify-content: center;
    height: 200px;
    /* flex-wrap: wrap; */
    /* outline: 10px red; */
    /* background-color: goldenrod */
}

.chuck-button, .pun-button, .cat-button {
    /* display: flex;  */
    padding: 10px;
    /* float: left; */
    font-size: 20px;
    margin: auto;
    background-color: goldenrod;
    border: none;
    color: indigo;
    display: inline-block;
    border-radius: 12px;
    justify-content: center;
}

/* .results-container {
    display: flex;
    align-items: center;
    outline: 2px solid red;
    flex-direction: column;
} */

.chuck-output, .pun-output, .cat-output {
    /* padding: 20px; */
    margin: 20px auto;
    justify-content: center;
    font: 20px system-ui;
    /* border: 2px solid indigo; */
    /* height: 150px;
    width: 150px; */
    /* box-sizing: border-box; */
    /* display: inline-block;  */
    /* outline: 2px solid indigo; */
    /* background: linear-gradient( white, rgba(156,39,176,0.2)); */
}

.pic {
    height: 150px;
    width: 150px;
    justify-content: center;
    display: flex;
} 

.pic > img {
    max-width: 100%;
    max-height: auto;
    justify-content: center;
}